
<ion-content>
  <br>
  <div style="text-align:center;">
  <ion-grid style="background-color:lightgray;border-radius: 10px;margin:10px;">
    <br>
      <img src="assets/scooter.png" style="height:120px;" alt="">
      <br><br>
        <div style="text-align:center;">
          <select  id="type-Livraison" class="form-select" aria-label="choisie votre type de livraison">
            <option selected>choisie votre vile</option>
            <option value="Casa">Casa</option>
            <option value="rabat">Rabat</option>
            <option value="tanger">tanger</option>
          </select><br>
            <input class="form-control" name="email" type="email" placeholder="Votre@email.com" />
            <br>
            <input class="form-control" name="password" type="password" placeholder="mot de pass" />
            <br>
            <a  style="text-decoration: none;color: white;">Mot de pass oublier ?</a>
        </div>
        <div>
          <ion-button size="large" type="submit"  expand="block" >Se Connecter</ion-button><br>
          <ion-text>Vous avez pas de compt ?</ion-text>
        </div>
      
    
    <div style="text-align: center;"><br>
    <button routerLink="/register" class="btn btn-secondary">
        Register</button>
        <br><br>
    </div>
  </ion-grid>
</div>
</ion-content>
