<ion-header>
  <ion-toolbar >
    <!--<a routerLink="/login" style="text-decoration:none; margin: 8px;"> retour</a> -->
      <img style="margin:4px;height:30px;" src="assets/back.svg"  alt="" routerLink="/login">- S'inscrire
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
   <div style="margin: 8px;background-color:lightskyblue;border-radius:5px;"><br>
    <div style="text-align:center;margin: 8px;">
      <div style="text-align:center;">
          <img for="firstimg" type="fichier" style="width:30%;" src="assets/perso.svg" alt="">
          <input type="image" id="firstimg" src="#" alt="" style="display:none; visibility:none;" />
      </div>
      
      <input class="form-control" type="text" placeholder="name">
      <input class="form-control" type="email" placeholder="email">
      <input class="form-control" type="tel" placeholder="telephone">
      <input class="form-control" type="password" placeholder="password">
      <input class="form-control" type="text" placeholder="ville"><br>
      <select  id="type-Livraison" class="form-select" aria-label="choisie votre type de livraison">
        <option selected>choisie votre type de livraison</option>
        <option value="volvo">Moto</option>
        <option value="saab">voiture</option>
        <option value="opel">autre type</option>
      </select><br>
      <ion-button style="width: 80%;" color="primary">S'inscrire</ion-button><br><br>
      </div>
   </div>
</ion-content>
